<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Skills-Web</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
      <h4>Applicant Information:</h4>
        <form action="/application-confirmation">
        First Name: <input type="text" name="first-name">
        Last Name: <input type="text" name="last-name">
        Salary Requirement: <input type="text" name="salary-requirement">
        Job Title: <input type="text" name="job-title">
        <input type="submit">
      </form>
</body>
</html>